/* * {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.menu,
#modalMenu {
  display: none;
}

.navbar-toggle {
  display: block;
}

.navbar {
  border: 1px solid grey;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(247, 141, 87);
  color: #fff;
  margin-top: 0;
  z-index: 10000;
}

.navbar-logo {
  font-size: 1.5em;
  text-transform: uppercase;
}

.navbar-menu {
  display: block;
  justify-content: center;
}

.navbar-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 20px;
}

.section-1 {
  height: 100vh;
  background-image: url(../images/laptopimage.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100% 100%;
}

.row-edit div h4 {
  color: #ec5242;
  margin-left: 0;
}

.row-edit div {
  text-align: center;
}

.about-section-4 {
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
  height: max-content;
  background-color: #272a31;
  color: rgb(164, 156, 156);
  padding-bottom: 2%;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.finals {
  background: #fff;
}

.foot-text p {
  color: #272a31 !important;
  font-size: 20px !important;
}

.nameTop {
  width: 50%;
  margin-left: 40px;
}

article {
  width: 50%;
  margin: auto;
}

.row-edit {
  border: 1px solid;
  text-align: center;
}

footer {
  background: rgb(255, 255, 255) !important;
}

.event-1 {
  background-image: url(https://media.istockphoto.com/id/1363104923/photo/diverse-modern-office-businessman-leads-business-meeting-with-managers-talks-uses.jpg?s=612x612&w=0&k=20&c=R6-SufHacJ6bCnviq37kik2Jl6RMdECybcUpEoRuMLs=);
  margin-right: 50px !important;
}

.event-2 {
  background-image: url(https://media.istockphoto.com/id/499517325/photo/a-man-speaking-at-a-business-conference.jpg?s=612x612&w=0&k=20&c=gWTTDs_Hl6AEGOunoQ2LsjrcTJkknf9G8BGqsywyEtE=);
  margin-left: -40px !important;
}

.mob {
  display: none;
}

.desk {
  display: block;
} */
