*{
    font-family: 'Lato';
}
 /* MOBILE MENU SECTION */
/* Menu Icon */
 .menu {
    border: none;
    background-color: inherit;
 }
.menuIcon {
    width: 35px;
    height: 5px;
    background-color: rgb(230, 152, 152);
    margin: 6px 0;   
  }

/* Mobile menu content */
.mobile-menu{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 90%;
    padding-left: 50px;
    padding-top: 50px;
    background-color: dimgrey;
    margin: auto;
}

ul{
    list-style-type: none; 
}

a{
    text-decoration: none;
}

.mobile-menu-list{
  margin-left: -16%;
}

.mobile-menu-list li{
font-size: 35px;
margin-top: 20px;
}

.mobile-menu-list li a{
    color: rgb(255, 255, 255);
}

.exit-btn{
    z-index: 1000;
    position: absolute;
    right: 50px;
    border: none;
    background-color: inherit;
}

.menu{
  display: initial;
}
.navbar{
  margin-top: 10px;
}

.navbar-menu{
  display: none;
}
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }

  /* FIRST SECTION */
  .section-1{
    padding: 100px 20px 40px 20px;
    background-image: url(../images/laptopimage.jpg);
    background-repeat: no-repeat;  
  background-position: left center;
  background-size: 150% 100%;
  
  }

  .primary-heading, .about-primary-heading{
    font-family: 'Poppins', sans-serif;
    line-height: 52.5px; 
    font-size: 42px;
    width: 60%;
    color: #EC5242;
  }
  .primary-text-container{
    background-color: rgb(144, 143, 143,0.4);
    width: 70%;
  }
  .primary-text{
    padding: 5px;
    color: #fff;
  }
  .timeDate, .location-text{
    color: #fff;
  }

  /* SECOND SECTION */
  .section-2{
     background-image: url(../images/penbackground.jpg);
     background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main-program{
    text-align: center;
    
  }
  .row-edit {
    border: 1px solid ;
    text-align: right;
  }
  .row-edit div h2{
    color: #EC5242;
  }

  #join {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 35px;
  width: 30%;
  border: none;
  background-color: #EC5242;
  color: #fff;
  height: 35px;
  }
  
  .rule-top{
    width: 20%;
    margin: auto;
    padding: 10px;
   
  }

.about-section-4{
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
  background-color: #272A31;
  color: rgb(164, 156, 156);
  font-family: 'Lato',Arial, Helvetica, sans-serif;
}
body{
  width: 100%;
  overflow-x: hidden;
}

/* SPEAKERS SECTION */
.speakers{
  padding-top: 30px;
  padding-bottom: 40px;
}
.speaker{
  width: 90%;
  margin: auto;
}

.card-body {
  padding-right: 0px;
}
.card-text {
  font-size: 13px;
}
.speaker-img{
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
}

.profile-shot{
  margin-left: 7%;
  width: 100%;
  max-height: 100%;
}

.speaker-title{
  text-align: center;
  
  font-family: 'Lato',Arial, Helvetica, sans-serif;
}

.speaker-title-1{
  color: red ;
  font-style: italic;
  
}

.speakers-rule{
  width: 10%;
  margin-top: 7px;
  margin-bottom: 8px;
}

.see-more-btn{
  background: #EC5242;
  color: #fff;
  width: 50%;
  margin: auto;
}

   
/* ABOUT PAGE STYLES */
.about-primary-heading{
  color: #EC5242;
}
.about-section-1{
  background-image: url(../images/bizPeople.jpg);
 
  background-position: top;
}

.about-section-1,.about-primary-heading .about-section-2,.about-section-3, .about-section-4, .section-4{
  text-align: center;
}
.about-section-1 p{
  color: blanchedalmond;
}
.about-primary-heading{
  margin: auto;
  width: 100%;
}
.about-rule{
  width: 20%;
}
article .primary-text{
  background-color: rgb(212, 198, 198, 0.4);
}
small a em{
  color: #EC5242;
  }
.event{
  height: 200px;
  width: 300px;
  background-size:contain;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  
}
.event-1{
  background-image: url(https://media.istockphoto.com/id/1363104923/photo/diverse-modern-office-businessman-leads-business-meeting-with-managers-talks-uses.jpg?s=612x612&w=0&k=20&c=R6-SufHacJ6bCnviq37kik2Jl6RMdECybcUpEoRuMLs=);
}
.event-2{
  background-image: url(https://media.istockphoto.com/id/499517325/photo/a-man-speaking-at-a-business-conference.jpg?s=612x612&w=0&k=20&c=gWTTDs_Hl6AEGOunoQ2LsjrcTJkknf9G8BGqsywyEtE=);
}
.event-text{
  margin-top: 10px;
  display: inline-block;
}
.event-images{
  position: relative;
  margin: auto;
}

  /* JAVASCRIPT CONTROLLED CLASSES */
  .display-none{
    display: none;
  }

  .display-block {
    display: block;
  }

.desk{
  display: none;
}
.mob{
  display: flex;
}